<%include paths/header%>

    <div style="text-align: center; margin: 50px auto; height: 60vh">
        <h1 style="font-size: 100px; margin-bottom: 5%; margin-top: 8%; color: red">Error!</h1>
        <h4> Fill right details</h4>
        <a href="/login"> Back to Login</a>
        <h4>Only registered members can Log in</h4>
        <a href="/register">Click to Sign up</a>
    </div>


    <%include paths/footer%>