<% include paths/header %>


    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>FARM TREASURE</h1>
                <p>
                    <a class="btn btn-primary btn-large" href="/farms/form"> Add new farm</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap" ;>

            <% farms.map((farms)=>{ %>
                <div class="col-mid-3 col-sm-4">
                    <div class="thumbnail">
                        <img style="height: 100px; width: 200px" src="<%=farms.image %>">
                        <div class="caption">
                            <h4>
                                <%= farms.name %>
                            </h4>
                        </div>
                        <a class="btn btn-primary btn-large" href="farms/<%=farms._id%>">More</a>
                    </div>
                </div>
                <%}); %>

        </div>
    </div>
    <% include paths/footer %>