<% include paths/header %>

    <% include paths/formStyling %>

        <div class="formGeneral">
            <div class="container">
                <div class="row">
                    <div class="formPosition">
                        <h1 class="formText">Create new Farm</h1>
                        <form action="/farms" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="name">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="image" placeholder="image url">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="description" placeholder="description">
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="address" placeholder="address">
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="email" placeholder="email">
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="contact" placeholder="contact number">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-lg btn-secondary btn-block">submit</button>
                            </div>
                        </form>
                        <a href="/farms">Go back </a>
                </div>
            </div>
        </div>
        </div>
        <% include paths/footer %>