<% include paths/header %>

    <div style="height: 80vh">
        <div style="text-align: center ">

            <h7>
                <%= currentUser%>
            </h7>
        </div>
        <br/>
        <a href="/farms">Go back to view farms</a>
    </div>
    <% include paths/footer %>