<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="footerGeneral">

        <div class="footerAll">
            <div class="More">
                <h2>More</h2>
                <li class="contactLink">
                    <a href="#">Partnership</a>
                </li>
                <li class="contactLink">
                    <a href="#">Customer care</a>
                </li>
                <li class="contactLink">
                    <a href="#">Policy</a>
                </li>
            </div>

            <div class="Contact">
                <h2>Contacts</h2>

                <div class="iconLine">
                    <li class="contactLink">
                        <a href="https://www.facebook.com/">
                            <h5>facebook</h5>
                        </a>
                    </li>

                    <div class="iconLine1">
                        <li class="contactLink">
                            <a href="https://www.twitter.com/">
                                <h5>Twitter</h5>
                            </a>
                        </li>
                    </div>

                    <li class="contactLink">
                        <a href="https://www.linkedin.com/">
                            <h5>linkedin</h5>
                        </a>
                    </li>

                    <div class="iconLine2">
                        <li class="contactLink">
                            <a href="https://www.instagram.com/">
                                <h5>instagram</h5>
                            </a>
                        </li>
                    </div>

                    <li class="contactLink">
                        <a href="https://www.pinterest.com/">
                            <h5>pinterest</h5>
                        </a>
                    </li>
                </div>

            </div>

            <div class="Global business">
                <h2> Global</h2>
                <li class="contactLink">
                    <a href="#">Meteorology</a>
                </li>
                <li class="contactLink">
                    <a href="#">Climate change</a>
                </li>
                <li class="contactLink">
                    <a href="#">Soil Managemennt</a>
                </li>
                <li class="contactLink">
                    <a href="#">Genetics</a>
                </li>
                <li class="contactLink">
                    <a href="#">Clonning</a>
                </li>
                <li class="contactLink">
                    <a href="#">Pest & Disease control</a>
                </li>
                <li class="contactLink">
                    <a href="#">Apiculture</a>
                </li>
                <li class="contactLink">
                    <a href="#">Horticulture</a>
                </li>
                <li class="contactLink">
                    <a href="#">Extension Services</a>
                </li>
                <li class="contactLink">
                    <a href="#">Forest conservation</a>
                </li>
                <li class="contactLink">
                    <a href="#">Wildlife Conservation</a>
                </li>
                <li class="contactLink">
                    <a href="#">Farm Security</a>
                </li>
                <li class="contactLink">
                    <a href="#">Cross Breeding</a>
                </li>
                <br />
            </div>

            <div class="locations">
                <h2>Locations</h2>
                <li class="contactLink">
                    <a href="#">Nigeria</a>
                </li>
                <li class="contactLink">
                    <a href="#">Ghana</a>
                </li>
                <li class="contactLink">
                    <a href="#">USA</a>
                </li>
                <br />
            </div>
        </div>
    </div>
    <div class="greenLogo">
        <img src="/images/apple-icon-precomposed.png" alt="image" />
        <br/>
        <h7>Sponsored:Learn Factory Nigeria</h7>
    </div>
    <hr />
    </div>
</body>

</html>