<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/mainBody.css">
</head>

<body>
    <div class="mainBodyImage">

    </div>
    <div class="mainParagragh">
        <div>

            <h2 class="mainSubText">What is Farm Treasure</h2>

            <h3>Farm treasure is a systematic data collection platform
            <br/>aimed at getting data of farms within a defined area.</h3>
            <br/>
            <div class="mainBodyImage2"></div>
        </div>


        <div>
            <h2 class="mainSubText">Mission</h2>
            <h3>Connect farms of related interest </h3>
            <br/>
            <h3>Link farmers with investors, customers and Government agencies</h3>
            <br/>
            <h3>Have a collection of farms that are hyper productive
                <br/>in line with FAO 2050 vision</h3>
            <div class="mainBodyImage3"></div>
        </div>

        <div>
            <h2 class="mainSubText">Vision</h2>
            <h3>To revamp agriculture in Nigeria</h3>

        </div>
    </div>


</body>

</html>