<!DOCTYPE html>
    <html>

    <head>
        <link rel="stylesheet" href="/stylesheets/mainHeader.css">
    </head>

    <body>
        <div class="headerAll">

            <div class="headerTop2">
                <div class="headerlogo">
                    <img class="farmTreasure" src="/images/apple-icon-precomposed.png" alt="image" />
                </div>
                <div class="textLinkDiv">

                    <div class="textLink">
                        <a href="/login">Farm Connect</a>
                    </div>

                    <div class="textLink">
                        <a href="#">Tech Innovation</a>
                        <div class="textLink-content">
                            <a href="#">I.T</a>
                            <a href="#">A.I</a>
                            <a href="#">Cloud</a>
                            <a href="#">Data Science</a>
                            <a href="#">Block Chain</a>

                        </div>
                    </div>

                    <div class="textLink">
                        <a href="#">Research</a>
                    </div>

                    <div class="textLink">
                        <a href="#">Education</a>
                        <div class="textLink-content">
                            <a href="#">Learn</a>
                            <a href="#">Teach</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

    </html>


    </div>